@import '../../assets/styles/style.scss';
.new-product{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding:20px 15px;
    .new-product-icon{
        flex: 0 0 25%;
       button{
        @include text(20px);
        border-radius: 12.3px;
        border: 1px solid $gray-darken-3;
        padding: 10px 15px;
        background: transparent;
        &:hover{
            cursor: pointer;
        }
        &:focus{
            outline: none;
        }
       }
    }
    .new-produtc-content{
        flex: 0 0 50%;
        h2{
            @include text(0.8rem,400);
            margin: 0;
            margin-bottom: 5px;
            color:$gray-darken-3;
        }
        h3{
            margin: 0;
            @include text(0.8rem, 400);
            color:$gray-ligth-1;
        }
    }
}