@import '../../assets/styles/style.scss';
.cellular-service-card{
    display: flex;
    flex-direction: column;
    .cellular-form{
        display: flex;
        width: 100%;
        .cellular-form-item{
            margin-left: 10px;
        }
    }
}
