@import '../../assets/styles/style.scss';
.navigation-drawer-container {
    height: 100%;
    width: 80px;
  position: fixed;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 40px 10px;
    z-index: 99;
    background: $white;

    .navigation-drawer-logo {
        @include text(2rem, 800);
        color: $gray-darken-3;
        flex: 1 1 10%;
        display: flex;
        align-items: flex-start;
    }

    .navigation-drawer-items {
        flex: 0 0 70%;
        display: flex;
        align-items: center;

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;

            li {
                padding: 15px;

                &:hover i {
                    color: $primary;
                    cursor: pointer;
                    transition-duration: 0.1s;
                }
            }
        }

        .active i {
            color: $primary !important;
        }
    }

    .navigation-drawer-logout {
        flex: 0 0 20%;
        display: flex;
        align-items: flex-end;
        span{
            cursor: pointer;
            &:hover i{
                color: $primary;
            }
        }
    }
    
    i {
        @include text(24px);
        color: $gray-darken-3;
        transition-duration: 0.2s;
    }
}