@import '../../assets/styles/style.scss';
.debit-container {
    display: flex;
    justify-content: space-between;
    .debit-stats {
        flex: 0 0 46%;
        .stats-title {
            @include text(0.75rem, 500);
            span {
                color: $primary;
                padding-left: 10px;
            }
        }
    }
    .debit-action {
        flex: 0 0 30%;
        display: flex;
        justify-content: center;
        align-items: center;

        .action-item {
            margin-left: 10px;
        }
    }
    @include lt-lg{
        flex-direction: column;
    }
}
.debit-content-container {
    display: flex;
    justify-content: space-between;
    .debit-content {
        h2 {
            @include text(0.86rem, 500);
            color: $gray-white;
            margin: 0;
        }
        h4 {
            padding: 0;
            margin-top: 10px;
            @include text(1.35rem, 500);
        }
    }
}